<!--<div class="row">
  <div class="col-md-6">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">Intern</h4>
              <h6 class="card-subtitle">Intern Information</h6>
              <form class=" form-material form-horizontal-10" [formGroup]="candidatoForm" (ngSubmit)="createCandidato()">
                <div class="form-group">
                  <label for="exampleInputuname">ID</label>
                  <div class="input-group">
                      <div class="input-group-addon mr-1"><i class="ti-user"></i></div>
                      <input type="text" class="form-control" formControlName="cedula" id="exampleInputuname" placeholder="ID">
                  </div>
                  <span *ngIf="candidatoForm.controls['cedula'].getError('required') && candidatoForm.controls['cedula'].touched" class="form-text text-danger">Field required</span>
              </div>

                  <div class="form-group">
                      <label for="exampleInputuname">Name</label>
                      <div class="input-group">
                          <div class="input-group-addon mr-1"><i class="ti-user"></i></div>
                          <input type="text" class="form-control" formControlName="nombre" id="exampleInputuname" placeholder="Name">
                      </div>
                      <span *ngIf="candidatoForm.controls['nombre'].getError('required') && candidatoForm.controls['nombre'].touched" class="form-text text-danger">Field required</span>
                  </div>
                  <div class="form-group">
                      <label for="exampleInputEmail1">Language</label>
                      <div class="input-group">
                          <select name="" id="" formControlName="idioma" class="form-control">
                              <option value="">Select Level</option>
                              <option value="Bajo">Bajo</option>

                          </select>
                      </div>
                      <span *ngIf="candidatoForm.controls['idioma'].getError('required') && candidatoForm.controls['idioma'].touched" class="form-text text-danger">Field required</span>

                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">Job</label>
                    <div class="input-group">
                        <select name="" id="" formControlName="puesto" class="form-control">
                            <option value="">Select Level</option>
                            <option *ngFor="let puesto of Puesto" [value]="puesto.nombre">{{puesto.nombre}}</option>

                        </select>
                    </div>
                    <span *ngIf="candidatoForm.controls['puesto'].getError('required') && candidatoForm.controls['puesto'].touched" class="form-text text-danger">Field required</span>

                </div>

                  <div class="form-group">
                    <label for="exampleInputuname">Salary</label>
                    <div class="input-group">
                        <div class="input-group-addon mr-1"><i class="ti-user"></i></div>
                        <input type="number" class="form-control" formControlName="salario" id="exampleInputuname" placeholder="Salary Min">
                    </div>
                    <span *ngIf="candidatoForm.controls['salario'].getError('required') && candidatoForm.controls['salario'].touched" class="form-text text-danger">Field required</span>
                </div>

                <div class="form-group">
                  <label for="exampleInputEmail1">Job</label>
                  <div class="input-group">
                      <select name="" id="" formControlName="competencia" class="form-control">
                          <option value="">Select Level</option>
                          <option value="Organizaciones">Organizaciones</option>
                          <option value="Tecnicas-Operativas">Tecnicas-Operativas</option>
                          <option value="Coordinador de tareas">Coordinador de tareas</option>

                      </select>
                  </div>
                  <span *ngIf="candidatoForm.controls['competencia'].getError('required') && candidatoForm.controls['competencia'].touched" class="form-text text-danger">Field required</span>

              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Job</label>
                <div class="input-group">
                    <select name="" id="" formControlName="capacitaciones" class="form-control">
                        <option value="">Select Level</option>
                        <option value="Grado">Grado</option>
                        <option value="Post Grado">Post Grado</option>
                        <option value="Tecnico">Tecnico</option>
                        <option value="Maestria">Maestria</option>

                    </select>
                </div>
                <span *ngIf="candidatoForm.controls['capacitaciones'].getError('required') && candidatoForm.controls['capacitaciones'].touched" class="form-text text-danger">Field required</span>

            </div>

            <div class="form-group">
              <label for="exampleInputuname">Job Experience</label>
              <div class="input-group">
                  <div class="input-group-addon mr-1"><i class="ti-user"></i></div>
                  <input type="text" class="form-control" formControlName="Experience" id="exampleInputuname" placeholder="experience">
              </div>
              <span *ngIf="candidatoForm.controls['Experience'].getError('required') && candidatoForm.controls['Experience'].touched" class="form-text text-danger">Field required</span>
          </div>

          <div class="form-group">
            <label for="exampleInputuname">Recomender by:</label>
            <div class="input-group">
                <div class="input-group-addon mr-1"><i class="ti-user"></i></div>
                <input type="string" class="form-control" formControlName="recomendarPor" id="exampleInputuname" placeholder="Recomender by">
            </div>
            <span *ngIf="candidatoForm.controls['recomendarPor'].getError('required') && candidatoForm.controls['recomendarPor'].touched" class="form-text text-danger">Field required</span>
        </div>

                  <button type="submit" [disabled]="candidatoForm.invalid" class="btn btn-success waves-effect waves-light m-r-10"><i class="fa fa-save"> Save
                      </i></button>

              </form>
          </div>
      </div>
  </div>
</div>!-->

<section id="wrapper" class="login-register login-sidebar d-flex justify-content-center" style="background-image:url(../assets/images/background/login-register.jpg);">
  <div class="login-box card ">
      <div class="card-body">

          <form class="form-horizontal form-material"  autocomplete="off" (ngSubmit)="createCandidato()" [formGroup]="candidatoForm"  >
              <a href="javascript:void(0)" class="text-center db"><img src="../assets/images/logo-icon.png" alt="Home" /><br /><img src="../assets/images/logo-text.png" alt="Home" /></a>
              <h3 class="box-title m-t-40 m-b-0 text-center">Apply Now</h3><small>Apply to this job</small>
              <div class="form-group m-t-20">
                  <div class="col-md-12">
                      <input class="form-control" type="text" formControlName="cedula" placeholder="ID">
                  </div>
              </div>
              <div class="form-group ">
                  <div class="col-md-12">
                      <input class="form-control" type="text" formControlName="nombre" placeholder="Name">
                  </div>
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Language</label>
                <div class="input-group col-md-12">
                    <select name="" id="" formControlName="idioma" class="form-control">
                        <option value="">Select Level</option>
                        <option *ngFor="let idioma of idioma" [value]="idioma.nombre">{{idioma.nombre}}</option>
                    </select>
                </div>
                <span *ngIf="candidatoForm.controls['idioma'].getError('required') && candidatoForm.controls['idioma'].touched" class="form-text text-danger">Field required</span>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Job</label>
              <div class="input-group col-md-12">
                  <select name="" id="" formControlName="puesto" class="form-control">
                      <option value="">Select Level</option>
                      <option *ngFor="let puesto of Puesto" [value]="puesto.nombre">{{puesto.nombre}}</option>
                  </select>
              </div>
              <span *ngIf="candidatoForm.controls['puesto'].getError('required') && candidatoForm.controls['puesto'].touched" class="form-text text-danger">Field required</span>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Department</label>
            <div class="input-group col-md-12">
                <select name="" id="" formControlName="departamento" class="form-control">
                    <option value="">Select Level</option>
                    <option value="IT">IT</option>
                    <option value="Administracion">Administracion</option>
                    <option value="Recursos Humanos">Recursos Humanos</option>
                    <option value="Gerencia">Gerencia</option>

                </select>
            </div>
            <span *ngIf="candidatoForm.controls['departamento'].getError('required') && candidatoForm.controls['departamento'].touched" class="form-text text-danger">Field required</span>

        </div>

          <div class="form-group">
            <div class="input-group col-md-12">

                <input type="number" class="form-control" formControlName="salario" id="exampleInputuname" placeholder="Salary">
            </div>
            <span *ngIf="candidatoForm.controls['salario'].getError('required') && candidatoForm.controls['salario'].touched" class="form-text text-danger">Field required</span>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Skills</label>
          <div class="input-group col-md-12">
              <select name="" id="" formControlName="competencia" class="form-control">
                  <option value="">Select Level</option>
                  <option value="Organizaciones">Organizaciones</option>
                  <option value="Tecnicas-Operativas">Tecnicas-Operativas</option>
                  <option value="Coordinador de tareas">Coordinador de tareas</option>

              </select>
          </div>
          <span *ngIf="candidatoForm.controls['competencia'].getError('required') && candidatoForm.controls['competencia'].touched" class="form-text text-danger">Field required</span>

      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Type of grade</label>
        <div class="input-group col-md-12">
            <select name="" id="" formControlName="capacitacion" class="form-control">
                <option value="">Select Level</option>
                <option value="Grado">Grado</option>
                <option value="Post Grado">Post Grado</option>
                <option value="Tecnico">Tecnico</option>
                <option value="Maestria">Maestria</option>

            </select>
        </div>
        <span *ngIf="candidatoForm.controls['capacitacion'].getError('required') && candidatoForm.controls['capacitacion'].touched" class="form-text text-danger">Field required</span>

    </div>

    <div class="form-group">
      <label for="exampleInputuname">Job Experience</label>
      <div class="input-group col-md-12">

          <input type="text" class="form-control" formControlName="experiencia_Laboral" id="exampleInputuname" placeholder="experience">
      </div>
      <span *ngIf="candidatoForm.controls['experiencia_Laboral'].getError('required') && candidatoForm.controls['experiencia_Laboral'].touched" class="form-text text-danger">Field required</span>
  </div>

  <div class="form-group">
    <label for="exampleInputuname">Recomender by:</label>
    <div class="input-group col-md-12">

        <input type="string" class="form-control" formControlName="recomendadoPor" id="exampleInputuname" placeholder="Recomender by">
    </div>
    <span *ngIf="candidatoForm.controls['recomendadoPor'].getError('required') && candidatoForm.controls['recomendadoPor'].touched" class="form-text text-danger">Field required</span>
</div>
              <div class="form-group text-center m-t-20">
                  <div class="col-md-12">
                      <button type="submit" [disabled]="candidatoForm.invalid" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light">Apply</button>
                  </div>
              </div>
              <div class="form-group m-b-0">
                  <div class="col-sm-12 text-center">
                      <p>Already have an account? <a routerLink="/login" class="text-info m-l-5"><b>Sign
                                  In</b></a></p>
                  </div>
              </div>
          </form>
      </div>
  </div>
</section>
