<div class="row animated fadeIn fast">
  <div class="col-lg-8">
      <div class="card">
          <div class="card-body">
              <form class="form-material">
                  <input type="text" #txtBuscar (keyup)="buscar(txtBuscar.value)" class="form-control form-control-line" placeholder="Search">

              </form>
          </div>
      </div>
  </div>
</div>

<div class="row fadeIn fast" *ngIf="loading">
  <div class="col-12">
      <div class="alert alert-success text-center">
          <h4 class="alert-heading">Loading</h4>
          <i class="fa fa-spin fa-refresh fa-2x"></i>
          <p class="mb-0">Por favor espere...</p>
      </div>
  </div>
</div>

<div class="row fadeIn fast" *ngIf="!loading">
  <div class="col-12">
      <div class="card">
          <div class="card-body">

              <h4 class="card-title">Users: {{total}}</h4>
              <h6 class="card-subtitle">List of users opend by customers</h6>

              <!-- <div class="box bg-info text-center col-2 mt-1 mb-2">
                  <h4 class="font-light text-white">{{total}}</h4>
                  <h6 class="text-white">Total Users</h6>
              </div> -->
              <div class="table-responsive">
                  <table class="table table-bordered">
                      <thead>
                          <tr>
                              <th>Email</th>
                              <th>Name</th>
                              <th>Action</th>

                          </tr>
                      </thead>

                      <tbody>
                          <tr *ngFor="let user of usuarios">
                              <td>{{user.email}}</td>
                              <td>{{user.nombre}}</td>

                              <td class="text-nowrap text-center">

                                <a (click)="RemoveUser(user)" data-toggle="tooltip" data-original-title="Delete"> <i class="fa fa-close text-danger cursor"></i> </a>
                            </td>

                          </tr>
                      </tbody>
                  </table>
              </div>

              <div class="row fadeIn fast" *ngIf="usuarios.length === 0">
                  <div class="col-12">
                      <div class="alert alert-info text-center">
                          <p class="mb-0">No results</p>

                      </div>
                  </div>
              </div>

              <div *ngIf="txtBuscar.value.length === 0">
                  <button [disabled]="desde < 3" (click)="paginacion(-3)" class="btn btn-secondary mr-2">Anterior</button>
                  <button [disabled]="desde + 3 >= total" (click)="paginacion(3)" class="btn btn-secondary">Siguiente</button>
              </div>
          </div>
      </div>
  </div>
</div>
