<div class="row">
  <div class="col-md-6">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">Competence</h4>
              <h6 class="card-subtitle">Update Information</h6>
              <form class=" form-material form-horizontal-10" [formGroup]="CompetenciaForm" (ngSubmit)="saveComp()">
                  <div class="form-group">
                    <label for="exampleInputuname">Description</label>
                    <div class="input-group">

                        <textarea type="text" rows="4" class="form-control" formControlName="descripcion" id="exampleInputuname" placeholder="Description"></textarea>
                    </div>
                    <span *ngIf="CompetenciaForm.controls['descripcion'].getError('required') && CompetenciaForm.controls['descripcion'].touched" class="form-text text-danger">Field required</span>
                </div>

                  <button type="submit" [disabled]="CompetenciaForm.invalid" class="btn btn-success waves-effect waves-light m-r-10"><i class="fa fa-save"> Save
                      </i></button>
                      <button class="btn btn-danger" [routerLink]="['/dashboard','competencia' ]"><i class="fa fa-backward">Cancel</i></button>
              </form>
          </div>
      </div>
  </div>
</div>
